.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 12vh;
    padding: 0 20px;
  }
  
  .left h1 {
    margin: 0;
  }
  
  .right button {
    margin-left: 20px;
  }
  .navbar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
  }
  
  .navbar ul li:hover {
    background-color: #555; /* Background color on hover */
  }
  
  .homeBtn a,
  .newsBtn a,
  .settingsBtn a {
    display: block;
    padding: 10px;
    color: #f0f0f0;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .homeBtn a:hover,
  .newsBtn a:hover,
  .settingsBtn a:hover {
    background-color: #555; /* Background color on hover */
  }
  
  .right button.SignInBtn {
    background-color: #463939;
    color: white;
    padding: 15px 25px;;
    border-radius: 5px;
    
  }
  
  .right button.registerBtn {
    background-color: white;
    color: #333;
    padding: 15px 25px;
    border-radius: 5px;
  }
  .main {
    display: flex;
    flex: 1;
  }
  
  .navbar {
    width: 15vw;
    height: 100%;
    background-color: #333;
    color: #f0f0f0;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    background-color: #f0f0f0;
  }

