/* HomePage.css */

.header {
    background-color: #333; /* Header background color */
    color: white; /* Text color for header */
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.game-name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.logo {
    width: 50px; /* Adjust according to your logo size */
    height: 50px; /* Adjust according to your logo size */
}

.right-side {
    display: flex;
}

.login-button,
.register-button {
    margin-left: 10px;    
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.login-button{
    background-color: #343444; /* Button background color */
    color: white; /* Button text color */
}
.register-button {
    background-color:white;
   color: black
}

.login-button:hover,
.register-button:hover {
    background-color: #555; /* Hover background color */
    
}

.navbar-container {
    position: relative;
    margin-top: 20px; /* Adjust the margin to position the navbar below the header */
}

.navbar {
    background-color: #292936; /* Navbar background color */
    position: absolute;
    top: 70px;
    left: 0;
    width: 200px; /* Adjust the width as needed */
    height: 100vh; /* Take full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px; /* Space between navigation links */
}

.navbar a {
    display: block; /* Display links as block elements */
    color: white;
    text-decoration: none;
}

.body-content {
    text-align: center;
    margin-left: 120px; /* Adjust the margin to make space for the navbar */
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    max-width: 500px; /* Adjust according to your image size */
}
