.login {
    width: 300px;
    margin: 50px auto 0; /* Adjust the top margin */
    text-align: center;
  }
  
  .login img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .login h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .login p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
  }
  
  .login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color: #257edd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }